<!doctype html>
<html>
   
       <div class="container">
           <div class="row">
                    <section class="main col-md-12">
                        <article>
                        <h2>Diogo Andrade</h2>
                        <p>I'm a former psychologist turned software developer. </p>
                        <p>Currently I'm a student at Seneca college at Toronto, Canada</p>
                        <p>I'm in my third semester and I'm planing to do co-op after the fourth</p>
                        <p>Still figuring out what fiels in the area to work. But a grat chance that I go server side devlopment in the future</p>    
                    </article>
                    </section>
            </div>
        </div>
      
    </html>
</html>